<div class="main-section">
    <div class="main-section-header">
        Shreeji
    </div>

    <div class="main-body">

        <div class="stone-box">
            
            <div class="machine-table">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Tender Name</th> -->
                            <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Stone Id</th>
                            <th scope="col">Stone Weight</th>
                            <th scope="col">Base Price/CT</th>
                            <th scope="col">Total Base Price</th>
                            <th scope="col">Bid Price/CT</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Won Price/CT</th>
                            <th scope="col">Won Price</th>
                            <th scope="col">Won/Sold</th>
                            <th scope="col" style="border-top-right-radius: 15px; border-top: none;">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">WON</td>
                            <td scope="col">7089333</td>
                        </tr>
                        <tr>
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col" style="border-top-left-radius: 15px; border-top: none;">18</td>
                            <td scope="col">4</td>
                            <td scope="col">718</td>
                            <td scope="col">71803</td>
                            <td scope="col">17,950.75</td>
                            <td scope="col">72000</td>
                            <td scope="col">254738.9395</td>
                            <td scope="col">7542820</td>
                            <td scope="col">SOLD</td>
                            <td scope="col">7089333</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>