<div class="mainContainer">
    <div class="header" *ngIf="!isLogin">
        <div class="navbar">
            <div class="nav-logo cursor-point">Logo</div>
            <div class="nav-user">
                <i class="fa-solid fa-user cursor-point"></i>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!isLogin">
        <div class="sidebar" >
            <div class="files">
                <ul>
                    <li><a class="cursor-point" routerLink="/master"><i class="fa-solid fa-file"></i>Master</a></li>
                    <li><a class="cursor-point" routerLink="/bid-master"><i class="fa-solid fa-file"></i>Bid Master</a></li>
                    <li><a class="cursor-point" routerLink="/win-master"><i class="fa-solid fa-file"></i>Win Master</a></li>
                    <li><a class="cursor-point" routerLink="/uploadWin"><i class="fa-solid fa-file"></i>Upload Win/Sold</a></li>
                    <li><a class="cursor-point" routerLink="/uploadBid"><i class="fa-solid fa-file"></i>Upload Bid</a></li>
                    <li><a class="cursor-point" routerLink="/uploadSheet"><i class="fa-solid fa-file"></i>Upload Excel</a></li>
                    <li><a class="cursor-point"><i class="fa-solid fa-download"></i>Download PDF</a></li>
                    <li><a class="cursor-point"><i class="fa-solid fa-download"></i>Download Excel</a></li>
                </ul>
            </div>
        </div>
        <div class="remaining">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="container loginContainer" *ngIf="isLogin">
        <div class="remaining-login">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>