

/* Main Section */
.main-section{
    width: 95.50%;
    margin: 30px;
    border-radius: 20px;
    background: white;
    overflow: auto;
    margin-top: 15px;
}

.master-section .main-section-header{
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
    padding-left: 22px;
}

.master-section .main-section-header .fa-arrow-left{
    margin-right: 7px;
}

.main-section .main-body{
    padding: 10px;
    padding-top: 0px ;
}

.stone-box{
    display: flex;
    margin-top: 25px;
    padding-left: 15px;
}


.machine-table{
    width: 100% !important;
    padding-right: 10px;
}

.machine-table table{
    border-radius: 10px !important;
}

.table thead tr{
    border-radius: 10px !important;
    background-color: #b5dee1;
}

.cursor-pointer{
    cursor: pointer;
}

.width-250{
    width: 250px;
}

.searchTender{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.searchTender .stoneField{
    width: 250px;
    margin: 10px;
    margin-bottom: 0px;
}

.searchTender .fa-magnifying-glass{
    position: absolute;
    right: 20px;
    top: 20px;
}