<div class="main-section">
    <div class="main-section-header">
        Shreeji
    </div>

    <div class="main-body">

        <div class="stone-box">
            
            <div class="machine-table">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Tender Name</th> -->
                            <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Stone Id</th>
                            <th scope="col">Stone Weight</th>
                            <th scope="col">Base Price/CT</th>
                            <th scope="col">Total Base Price</th>
                            <th scope="col">Bid Price/CT</th>
                            <th scope="col">Bid</th>
                            <th scope="col" style="border-top-right-radius: 15px; border-top: none;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bid of bidList; let i = index">
                            <!-- <td scope="col" style="border-top-left-radius: 15px; border-top: none;">Aphelios Solutions</td> -->
                            <td scope="col">{{bid.stoneId}}</td>
                            <td scope="col">{{bid.stoneWeight}}</td>
                            <td scope="col">{{bid.basePricePerCT}}</td>
                            <td scope="col">{{bid.totalBasePrice}}</td>
                            <td scope="col">{{bid.bidPricePerCT}}</td>
                            <td scope="col">{{bid.bidPrice}}</td>
                            <td>
                                <div class="icons">
                                    <!-- (click)="viewProduct(product)" -->
                                    <a style="margin-right: 8px;">
                                        <i class="fa-solid fa-eye cursor-pointer" style="color: green;"></i>
                                    </a>
                                    <!-- (click)="deleteProduct(product)" -->
                                    <a>
                                        <i class="fa-solid fa-trash cursor-pointer" style="color:#ff4c52;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>