<div class="main-section">
    <div class="main-section-header">
        LOT
    </div>

    <div class="main-body">
        <div class="stoneFields">
            <div class="stoneId flex-col width-300 mrg-25 mrg-botm-15">
                <label for="" class="stone-font">Tender Name</label>
                <input type="text" placeholder="Enter Tender Name" [(ngModel)]="tenderName"
                    class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneWeights flex-col width-300 mrg-25">
                <label for="" class="stone-font">Date</label>
                <input type="date" placeholder="Enter Stone Weight" [formControl]="date" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Time</label>
                <input type="time" placeholder="Enter Stone FL" [formControl]="time" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneTention" style="margin-bottom: 16px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Buy
                </button>
            </div>
        </div>
        <div class="stoneFields">
            <div class="stoneId flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone Id</label>
                <input type="number" placeholder="Enter Stone Id" [(ngModel)]="stoneId" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneWeights flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone Weight</label>
                <input type="number" placeholder="Enter Stone Weight" [(ngModel)]="stoneWeight"
                    class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone FL</label>
                <input type="text" placeholder="Enter Stone FL" [(ngModel)]="stoneFL" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Tention</label>
                <input type="text" placeholder="Enter Tention" [(ngModel)]="tention" class="form-control stoneField"
                    name="" id="">
            </div>
        </div>

        <div class="stone-box">
            <div class="video-input mrg-25">
                <div class="upload">
                    <input type="file" class="image" (change)="addfile($event)" [(ngModel)]="imageFile">
                </div>
                <div class="image_uploaded_box" *ngIf="image_uploaded">
                    <img [src]="url" height="200" alt="">
                </div>
            </div>
            <div class="machine-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Result</th>
                            <th scope="col">Color Measure</th>
                            <th scope="col">Reading</th>
                            <th scope="col" style="border-top-right-radius: 15px; border-top: none;">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let colorMeasure of colourMeasureReading">
                            <td class="va-m txt-a-m color-input">
                                <div class="flex-col mrg-10">
                                    <mat-form-field class="color-machine" appearance="fill">
                                        <mat-label>Result</mat-label>
                                        <input matInput placeholder="" [(ngModel)]="colorMeasure.result"
                                            value="{{colorMeasure.result}}">
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="va-m txt-a-m color-input">
                                <div class="flex-col mrg-10">
                                    <mat-form-field class="color-machine" appearance="fill">
                                        <mat-label>Colour Measure</mat-label>
                                        <input matInput placeholder="" [(ngModel)]="colorMeasure.colorMeasure"
                                            value="{{colorMeasure.colorMeasure}}">
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="va-m txt-a-m color-input">
                                <div class="flex-col mrg-10">
                                    <mat-form-field class="color-machine" appearance="fill">
                                        <mat-label>Reading</mat-label>
                                        <input matInput placeholder="" [(ngModel)]="colorMeasure.reading"
                                            value="{{colorMeasure.reading}}">
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="va-m txt-a-m color-input">
                                <div class="flex-col mrg-10">
                                    <mat-form-field class="color-machine" appearance="fill">
                                        <mat-label>Comment</mat-label>
                                        <input matInput placeholder="" (keydown.enter)="addColorMeasure()" [(ngModel)]="colorMeasure.comment"
                                            value="{{colorMeasure.comment}}">
                                    </mat-form-field>
                                </div>
                            </td>
                        </tr>

                        <tr *ngFor="let color of colorReadings; let i = index">
                            <td>{{color.result}}</td>
                            <td>{{color.colorMeasure}}</td>
                            <td>{{color.reading}}</td>
                            <td>{{color.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="plan-details">
            <div class="add-plan-btn">
                <button class="btn" (click)="addPlan()">Add Plan</button>
            </div>
            <div *ngFor="let list of planFormTable; let k = index">
                <div class="plan-details-header d-flex">
                    <h4>Plan {{k+1}}</h4>
                    <button class="btn" *ngIf="planFormTable.length > 1" (click)="cancelPlan(k)">Cancel</button>
                </div>
                <div class="planTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="border-top-left-radius: 15px; border-top: none; width:20px;">No.
                                </th>
                                <th scope="col" style="width:110px;">Shape</th>
                                <th scope="col" style="width:112px;">Weight</th>
                                <th scope="col" style="width:110px;">Color</th>
                                <th scope="col" style="width:110px;">Purity</th>
                                <th scope="col" style="width:110px;" *ngIf="isSearchHide == true">C/P/S</th>
                                <th scope="col" style="width: 110px; padding-right: 0px;" *ngIf="isSearchHide == true">
                                    RAP Price/CT</th>
                                <th scope="col" style="width:110px;" *ngIf="isSearchHide == true">Discount(%)</th>
                                <th scope="col" style="width:110px;" *ngIf="isSearchHide == true">Price/CT</th>
                                <th scope="col" style="width:150px;" *ngIf="isSearchHide == true">Total</th>
                                <th scope="col" *ngIf="isSearchHide == true"
                                    style="border-top-right-radius: 15px; border-top: none; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="plan-tbody">
                            <tr>
                                <td></td>
                                <td class="va-m txt-a-m" colspan="10">
                                    <div *ngFor="let plan of planFormTable[k]">
                                        <div class="plan-input">
                                            <div class="flex-col mrg-10">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Shape</mat-label>
                                                    <mat-select [(ngModel)]="plan.shape">
                                                        <mat-option *ngFor="let shape of shapes" [value]="shape.value">
                                                            {{shape.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Weight</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.weight"
                                                        value="{{plan.weight}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10">
                                                <mat-form-field appearance="fill" *ngIf="plan.isColorMannual == false">
                                                    <mat-label>Color</mat-label>
                                                    <mat-select [(ngModel)]="plan.color"
                                                        (selectionChange)="changeColor(plan)">
                                                        <mat-option *ngFor="let color of colors" [value]="color.value">
                                                            {{color.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="example-full-width"
                                                    *ngIf="plan.isColorMannual == true" appearance="fill">
                                                    <mat-label>Color</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.color"
                                                        value="{{plan.color}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Purity</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.purity"
                                                        value="{{plan.purity}}">
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="plan.search == false" class="search-div">
                                                <button class="btn btn-primary search-btn"
                                                    (click)="searchPlan(planFormTable)">Search</button>
                                            </div>

                                            <div class="flex-col mrg-10" *ngIf="plan.search == true">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>C/P/S</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.cps"
                                                        value="{{plan.cps}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10" *ngIf="plan.search == true">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>RAP Price/CT</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.rapPrice"
                                                        value="{{plan.rapPrice}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10" *ngIf="plan.search == true">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Discount</mat-label>
                                                    <input matInput placeholder="" (change)="addDiscount(plan)"
                                                        [(ngModel)]="plan.discount" value="{{plan.discount}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col mrg-10" *ngIf="plan.search == true">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Price/CT</mat-label>
                                                    <input matInput placeholder="" [(ngModel)]="plan.priceCT"
                                                        value="{{plan.priceCT}}">
                                                </mat-form-field>
                                            </div>
                                            <div class="flex-col" *ngIf="plan.search == true">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Total Price</mat-label>
                                                    <input matInput placeholder="" (keydown.enter)="SubmitPlan(k)" [(ngModel)]="plan.totalPrice"
                                                        value="{{plan.totalPrice}}">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let plan of planTable[k]; let i = index;">
                                <td class="va-m">{{i+1}}</td>
                                <td>{{plan.shape}}</td>
                                <td>{{plan.weight}}</td>
                                <td>{{plan.color}}</td>
                                <td>{{plan.purity}}</td>
                                <td>{{plan.cps}}</td>
                                <td>{{plan.rapPrice}}</td>
                                <td>{{plan.discount}}</td>
                                <td>{{plan.priceCT}}</td>
                                <td>{{plan.totalPrice}}</td>
                                <td class="va-m txt-a-m cursor-point" (click)="editPlan(k, i)"><i
                                        class="fa-solid fa-pen-to-square" style="color
                                        :green"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row plan-row">
            <div class="select-plan" *ngIf="planDetailArray && planShow">
                <section class="select-section" *ngFor="let plan of planDetailArray, let i = index;">
                    <mat-checkbox class="select-margin"></mat-checkbox>
                    <div class="plan-detail">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Plan {{i+1}}</mat-label>
                            <input matInput placeholder="" value="Plan {{i+1}}">
                        </mat-form-field>
                    </div>
                    <div class="plan-detail">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Total Of Plan {{i+1}}</mat-label>
                            <input matInput placeholder="" [(ngModel)]="plan.totalPlanPrice"
                                value="{{plan.totalPlanPrice}}">
                        </mat-form-field>
                    </div>
                    <div class="plan-detail">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Less% in Plan {{i+1}}</mat-label>
                            <input matInput [(ngModel)]="plan.lessOfPlan" (change)="lessPlan(plan)">
                        </mat-form-field>
                    </div>
                    <div class="plan-detail">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Final Total</mat-label>
                            <input matInput [(ngModel)]="plan.finalTotal">
                        </mat-form-field>
                    </div>
                </section>
            </div>
            <div class="button-right text-end">
                <button class="btn save-btn" *ngIf="isUpdate == false" (click)="submit()">Submit</button>
                <button class="btn save-btn" *ngIf="isUpdate == true" (click)="update()">Update</button>
                <button class="btn cancel-btn">Cancle</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade example-box" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true" cdkDrag>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tention</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="CommentSection">
                            <label for="">Comments</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>