/* Main Section */
.main-section {
  width: 95.5%;
  margin: 30px;
  border-radius: 20px;
  background: white;
}

.main-section .main-section-header {
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
}

.main-section .main-body {
  padding: 10px;
}

.main-body .stoneFields {
  display: flex;
  padding-left: 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mrg-25 {
  margin-right: 25px;
}

.stone-font {
  font-size: 16px;
  font-weight: 600;
}

.stoneField {
  margin-top: 6px;
}

.stoneField:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.width-300 {
  width: 300px;
}

.stoneTention {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.stoneTention .btn {
  background: #b5dee1;
  color: black;
  border-color: #b5dee1;
  height: 40px;
  width: 140px;
}

.stone-box {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-left: 15px;
}

.video-input {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: dashed;
}

.video-input .upload{
  height: 100%;
  display: flex;
  align-items: center;
}

.video-input .image_uploaded_box{
  width: 60%;
  display: flex;
  justify-content: center;
}

.machine-table {
  margin-top: 20px;
  width: 60%;
  padding-right: 10px;
}

.machine-table table {
  border-radius: 10px !important;
}

.table thead tr {
  border-radius: 10px !important;
  background-color: #b5dee1;
}

.planTable {
  padding: 10px;
}

.cursor-point {
  cursor: pointer;
}

.row {
  display: flex;
}

.row .btn {
  width: 100px;
  margin-right: 10px;
}

.save-btn {
  background-color: #b5dee1;
  color: black;
}

.cancel-btn {
  background-color: #ff4c52;
  color: white;
}

.modal-footer button {
  outline: none;
  border: 0;
}

.plan-details {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.plan-input {
  display: flex;
}

.plan-details .row {
  margin-top: 20px;
  margin-right: 3px;
}

.validation {
  font-size: 11px;
  font-weight: 500;
}

.plan-details-header {
  padding-left: 10px;
}

.plan-details-header .btn {
  position: absolute;
  right: 60px;
  background-color: #ff4c52;
  color: white;
}

.mrg-botm-15 {
  margin-bottom: 15px;
}

.table .stoneField::placeholder {
  font-size: 12px;
}

.va-m {
  vertical-align: middle !important;
}

.txt-a-m {
  text-align: center !important;
}

.mrg-10 {
  margin-right: 10px;
}

.add-plan-btn .btn {
  color: black;
  z-index: 1;
  position: absolute;
  right: 60px;
  background-color: #b5dee1;
}

.search-btn {
  background: #b5dee1;
  color: black;
  border: none;
  height: 40px;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-section {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.select-margin {
  margin: 0 12px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.plan-detail{
    margin-right: 10px;
}


::ng-deep .mat-form-field-underline {
    display: none;
}

.plan-detail ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 0;
}

.plan-detail ::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
    margin-top: -5px;
    padding-left: 10px;
    padding-top: 0;
}

.plan-detail ::ng-deep .mat-input-element {
    padding-top: 8px;
    padding-left: 10px;
}

.plan-row{
  margin-bottom: 20px;
    min-height: 60px;
    display: flex;
    position: relative;
}

.button-right{
    position: absolute;
}

.plan-input ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
  width: 100px;
}

.plan-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 0;
}

.plan-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  margin-top: -5px;
  padding-left: 10px;
  padding-top: 0;
}

.plan-input ::ng-deep .mat-select-value{
  margin-left: 10px;
  margin-top: 7px;
}

.plan-input ::ng-deep input.mat-input-element{
  padding-left: 7px;
  padding-top: 3px;
}

.plan-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
  height: 45px;
}

.plan-input ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper{
  transform: translateY(-25%);
}

.color-input ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
  width: 100%;
}

.color-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 0;
}

.color-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  margin-top: -5px;
  padding-left: 8px;
  padding-top: 0;
  font-size: 15px;
}

.color-input ::ng-deep input.mat-input-element{
  padding-left: 8px;
  padding-top: 3px;
}

.color-input ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
  height: 45px;
  width: 120px !important;
}

.color-input ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper{
  transform: translateY(-25%);
}