<div class="main-section">
    <div class="main-section-header">
        LOT
    </div>

    <div class="main-body">
        <div class="stoneFields">
            <div class="stoneId flex-col width-300 mrg-25 mrg-botm-15">
                <label for="" class="stone-font">Tender Name</label>
                <input type="text" placeholder="Enter Tender Name" [(ngModel)]="tenderName" class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneWeights flex-col width-300 mrg-25">
                <label for="" class="stone-font">Date</label>
                <input type="date" placeholder="Enter Stone Weight" [formControl]="date" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Time</label>
                <input type="time" placeholder="Enter Stone FL" [formControl]="time" class="form-control stoneField"
                    name="" id="">
            </div>
            <div class="stoneTention" style="margin-bottom: 16px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Buy
                </button>
            </div>
        </div>
        <div class="stoneFields">
            <div class="stoneId flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone Id</label>
                <input type="number" placeholder="Enter Stone Id" [(ngModel)]="stoneId" class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneWeights flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone Weight</label>
                <input type="number" placeholder="Enter Stone Weight" [(ngModel)]="stoneWeight" class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Stone FL</label>
                <input type="text" placeholder="Enter Stone FL" [(ngModel)]="stoneFL" class="form-control stoneField" name="" id="">
            </div>
            <div class="stoneFL flex-col width-300 mrg-25">
                <label for="" class="stone-font">Tention</label>
                <input type="number" placeholder="Enter Tention" [(ngModel)]="tention" class="form-control stoneField" name="" id="">
            </div>
        </div>

        <div class="stone-box">
            <div class="video-input mrg-25">
                <input type="file" (change)="addfile($event)" [(ngModel)]="imageFile">
            </div>
            <div class="machine-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="border-top-left-radius: 15px; border-top: none;">Result</th>
                            <th scope="col">Color Measure</th>
                            <th scope="col">Fluorescence Reading</th>
                            <th scope="col">Comment</th>
                            <th scope="col" style="border-top-right-radius: 15px; border-top: none;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">A</td>
                            <td>TLB</td>
                            <td>002</td>
                            <td>After Ghat</td>
                            <td class="va-m txt-a-m cursor-point">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="plan-details">
            <div class="add-plan-btn">
                <button class="btn" (click)="addPlan()">Add Plan</button>
            </div>
            <div *ngFor="let list of planFormTable; let k = index">
                <div class="plan-details-header d-flex">
                    <h4>Plan {{k+1}}</h4>
                    <button class="btn" *ngIf="planFormTable.length > 1" (click)="cancelPlan(k)">Cancel</button>
                </div>
                <div class="planTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="border-top-left-radius: 15px; border-top: none;">No.</th>
                                <th scope="col">Shape</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Color</th>
                                <th scope="col">Purity</th>
                                <th scope="col">C/P/S</th>
                                <th scope="col">RAP Price/CT</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Price/CT</th>
                                <th scope="col">Total</th>
                                <th scope="col" style="border-top-right-radius: 15px; border-top: none;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="plan-tbody">
                            <tr>
                                <td></td>
                                <td class="va-m txt-a-m" colspan="9">
                                    <div *ngFor="let plan of planFormTable[k]">
                                        <div class="plan-input">
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Shape"
                                                    class="form-control stoneField" [(ngModel)]="plan.shape" required>
                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Weight"
                                                    class="form-control stoneField" [(ngModel)]="plan.weight" required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Color"
                                                    class="form-control stoneField" [(ngModel)]="plan.color" required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Purity"
                                                    class="form-control stoneField" [(ngModel)]="plan.purity" required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter C/P/S"
                                                    class="form-control stoneField" [(ngModel)]="plan.cps" required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter RAP Price/CT"
                                                    class="form-control stoneField" [(ngModel)]="plan.rapPrice"
                                                    required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Discount"
                                                    class="form-control stoneField" [(ngModel)]="plan.discount"
                                                    required>

                                            </div>
                                            <div class="flex-col mrg-10">
                                                <input type="text" placeholder="Enter Price/CT"
                                                    class="form-control stoneField" [(ngModel)]="plan.priceCT" required>

                                            </div>
                                            <div class="flex-col">
                                                <input type="text" placeholder="Enter Total Price"
                                                    class="form-control stoneField" [(ngModel)]="plan.totalPrice"
                                                    required>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="va-m txt-a-m cursor-point" (click)="SubmitPlan(k)">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </td>
                            </tr>
                            <tr *ngFor="let plan of planTable[k]; let i = index;">
                                <td class="va-m">{{i+1}}</td>
                                <td>{{plan.shape}}</td>
                                <td>{{plan.weight}}</td>
                                <td>{{plan.color}}</td>
                                <td>{{plan.purity}}</td>
                                <td>{{plan.cps}}</td>
                                <td>{{plan.rapPrice}}</td>
                                <td>{{plan.discount}}</td>
                                <td>{{plan.priceCT}}</td>
                                <td>{{plan.totalPrice}}</td>
                                <td class="va-m txt-a-m cursor-point" (click)="editPlan(k, i)"><i
                                        class="fa-solid fa-pen-to-square" style="color
                                        :green"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="button-right text-end">
                <button class="btn save-btn" *ngIf="isUpdate == false" (click)="submit()">Submit</button>
                <button class="btn save-btn" *ngIf="isUpdate == true" (click)="update()">Update</button>
                <button class="btn cancel-btn">Cancle</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade example-box" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true" cdkDrag>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tention</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="CommentSection">
                            <label for="">Comments</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>